%% vim: ts=4 sw=4 et ft=erlang
[
    {simple_bridge, [

        {handler, nitrogen},
        %% the name of the simple_bridge handler  module, which should not
        %% change unless you're doing something custom to set up the context
        %% and simple_bridge, and also to interact with the request in a
        %% non-standard way. Generally speaking, it's not recommended to change
        %% this unless you really know what you are doing.

        {backend, BACKEND}, 
        %% cowboy | inets | mochiweb | webmachine | cowboy

        {address, "0.0.0.0"},       
        %% IP address to bind, either in tuple format or string

        {port, 8000},               
        %% Port to bind

        {document_root, "./site/static"}, 
        %% The path on the local machine to handle static files

        {static_paths, ["js/", "css/", "images/", "nitrogen/", "favicon.ico"]}
        %% The list of paths to be automatically translated to static paths by simple_bridge
        

        %% {webmachine_dispatch, DispatchTable},
        %% Webmachine dispatch table override (ignores static_paths above)

        %% {webmachine_dispatch_function, {Module, Function}}
        %% A Module:Function() that when evaluated will return a dispatch table
        %% for Webmachine, again ignores the static_paths above

        %% {cowboy_dispatch, DispatchTable}
        %% Cowboy dispatch table override (ignores static_paths)

        %% {cowboy_dispatch_function, {Module, Function}}
        %% A Module:Function() that when evaluated will return a dispatch tavle
        %% for Cowboy, again ignoring the static_paths above
    ]}
].

