%% vim: ts=4 sw=4 et ft=erlang
[
    {simple_bridge, [

        {callout, nitrogen_callout},
        %% the name of the callback module, which is expected to export run/1,
        %% ws_init/1, ws_message/1, ws_info/1, and ws_terminate/1
       
        {backend, inets}, 
        %% cowboy | inets | mochiweb | webmachine | cowboy

        {address, "0.0.0.0"},       
        %% IP address to bind, either in tuple format or string
        %% Does not work for yaws (yaws has its own configuration)

        {port, 8000},               
        %% Port to bind
        %% Does not work for yaws (yaws has its own config)

        {document_root, "./site/static"}, 
        %% The path on the local machine to handle static files
        %% Does not work for yaws (yaws has its own config)

        {static_paths, ["js/", "css/", "images/", "nitrogen/" "favicon.ico"]}
        %% The list of paths to be automatically translated to static paths by simple_bridge
        %% Does not work with Yaws (yaws has its own config)
        

        %% {webmachine_dispatch, DispatchTable},
        %% Webmachine dispatch table override (ignores static_paths above)

        %% {webmachine_dispatch_function, {Module, Function}}
        %% A Module:Function() that when evaluated will return a dispatch table
        %% for Webmachine, again ignores the static_paths above

        %% {cowboy_dispatch, DispatchTable}
        %% Cowboy dispatch table override (ignores static_paths)

        %% {cowboy_dispatch_function, {Module, Function}}
        %% A Module:Function() that when evaluated will return a dispatch tavle
        %% for Cowboy, again ignoring the static_paths above
    ]}
].

