[submodule "lib/coverize"]
	path = lib/coverize
	url = git://github.com/mmullis/coverize.git
[submodule "lib/simple_bridge"]
	path = lib/simple_bridge
	url = git@github.com:rklophaus/SimpleBridge.git
[submodule "lib/mochiweb"]
	path = lib/mochiweb
	url = git://github.com/rklophaus/mochiweb.git
