%% vim: ts=4 sw=4 et ft=erlang

{sub_dirs, ["rel"]}.

{require_otp_vsn, "R13B04|R14|R15"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
    {nprocreg,      "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
    {simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
    {sync,          "0.1.*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}

    %% {nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", {tag, "v2.1.0"}}},
    %% {nprocreg,      "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", {tag, "v0.2.0"}}},
    %% {simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", {tag, "v1.2.0"}}},
    %% {sync,          "0.1.*", {git, "git://github.com/rustyio/sync.git", {tag, "v0.1.0"}}}
 ]}.
