%% -*- mode: erlang -*-
%% vim:ts=4 sw=4 et sts=4 ft=erlang
[
    {nitrogen_core, [
        % If a signkey is not specified, then Nitrogen uses the Erlang cookie.
        % {signkey, "SECRET"}, 


        % Specify an expired signkey - basically, if the signkey changes, and
        % you want to keep any links or whatnot valid for some time, you can
        % specify old_signkey. New pickled terms, cookies, etc will all be
        % signed with the main signkey (or cookie if none), but page contexts,
        % cookies, and other pickled terms will be depickled with the main
        % signkey first, and if that fails, old_signkey will be attempted.
        % {old_signkey, "SOME_OTHER_SECRET"}

        % Default session timeout is 20 minutes.
        % {session_timeout, 20},

        % Specify a session cookie name. Uses "wf" by default.
        % {cookie_name, "wf"},

        % Sepcify the session cookie's security parameters: same_site and secure.
        % For more information about these attributes, see:
        % https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite
        % {session_cookie_same_site, lax},
        % {session_cookie_secure, false},

        % See nitrogenproject.com/doc/icon.html for option explanations, but the prefix options are:
        % fa, la, bi, material, or icon
        % {default_icon_prefix, icon},
        % {default_icon_version, 1},
        % {default_icon_css, "https://path/to/icon.css"},
        % {default_icon_css_sha, "SHA_FOR_ICON_CSS"},
        % {default_icon_js, "https://path/to/icon.js"},
        % {default_icon_js_sha, "SHA_FOR_ICON_JS"},
        
        % Setting the module_prefix to anything other than "" will change the
        % behaviour of the dynamic route handler (the default route handler) to
        % prefix page modules with it's value followed by an underscore.  For
        % example, setting module_prefix to "web" will make your requests to
        % "/mypage" be routed to the module "web_mypage".
        % {module_prefix, ""}
    ]},

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].
