<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Nitrogen - [[[page:title()]]]</title>
    <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script> -->
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
    <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
    <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
<!--     <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8" /> -->
    <link rel="stylesheet" href="/nitrogen/nitrogen.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <div class=container_12>

      <!-- Menu -->
      <div class="grid_12 alpha omega">
        <div class="header">
          [[[common:header(demos)]]]
        </div>
      </div>
      <div class="clear"></div>

      <!-- Headline -->
      <div class="alpha prefix_1 grid_10 postfix_1 omega">
        <div class=headline>
          <a href="/demos">DEMOS</a> <span style="color: #dfe2ea;">/</span> [[[page:headline()]]]
        </div>
      </div>  

      <!-- Column 1 -->
      <div class="alpha prefix_1 grid_4">
        <div class="grid pad_right">
          [[[page:left()]]]
        </div>
      </div>  
      
      <!-- Column 2 -->
      <div class="grid_6 suffix_1 omega">
        <div class="grid">
          [[[page:right()]]]
        </div>
      </div>

      <!-- Credits -->
      <div class="grid_12 alpha omega">
        <p class="credits">
          Copyright &copy; 2008-2010 <a href="http://rklophaus.com">Rusty Klophaus</a>. 
          <img src="/images/MiniSpaceman.png" style="vertical-align: middle;" />
          Released under the MIT License.</p>
      </div>
      <div class=clear></div>

    </div>
    <script>
      [[[script]]]
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2432542-4");
      pageTracker._trackPageview();
    </script>
  </body>
</html>
