%% -*- mode: erlang -*-
{erl_opts,[debug_info]}.

{deps,[
       {cowboy,                                                         "1.0.2"},
       {simple_bridge, {git, "git://github.com/nitrogen/simple_bridge", {branch, master}}}, 
       {nprocreg,      {git, "git://github.com/nitrogen/nprocreg",      {branch, master}}},
       {nitrogen_core, {git, "git://github.com/nitrogen/nitrogen_core", {branch, master}}},
       {sync,          {git, "git://github.com/rustyio/sync",           {branch, master}}}
      ]}.

{post_hooks, [{compile, "cp -r  _build/default/lib/nitrogen_core/www/* apps/[-$PROJECT-]/priv/static/nitrogen"}]}.
{pre_hooks,  [{compile, "bin/merge-configs apps/[-$PROJECT-]/etc config/sys.config"}]}.

{relx,[{release,{[-$PROJECT-],"0.1.0"},[[-$PROJECT-], sasl, syntax_tools, compiler]},
       {sys_config,"./config/sys.config"},
       {vm_args,"./config/vm.args"},
       {dev_mode,true},
       {include_erts,false},
       {extended_start_script,true}]}.

{profiles,[{prod,[{relx,[{dev_mode,false},{include_erts,true}]}]}]}.
