body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: underline; 
}
