%% vim: ts=4 sw=4 et ft=erlang
{sub_dirs, [
    "site", 
    "deps"
]}.

{require_otp_vsn, "R15|R16"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps_dir, ["lib"]}.

{deps, [
    %% Uncomment the following lines to always pull the latest versions
    {nitrogen_core, ".*",   {git, "git://github.com/nitrogen/nitrogen_core",{branch, master}}},
    {nprocreg,      ".*",   {git, "git://github.com/nitrogen/nprocreg",     {branch, master}}},
    {simple_bridge, ".*",   {git, "git://github.com/nitrogen/simple_bridge",{branch, master}}},
    {sync,          ".*",   {git, "git://github.com/rustyio/sync",          {branch, master}}}

    %% Get specific tagged version
    %% {nitrogen_core, ".*",   {git, "git://github.com/nitrogen/nitrogen_core",{tag, "v2.1.0"}}},
    %% {nprocreg,      ".*",   {git, "git://github.com/nitrogen/nprocreg",     {tag, "v0.2.0"}}},
    %% {simple_bridge, ".*",   {git, "git://github.com/nitrogen/simple_bridge",{tag, "v1.3.0"}}},
    %% {sync,          ".*",   {git, "git://github.com/choptastic/sync",       {tag, "v0.1.0"}}}
    %% Uncomment the following lines to always pull the latest versions
]}.
