{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps_dir, ["../deps"]}.

{deps, [
    {nitrogen_core, "2.0.*", {git, "git://github.com/nitrogen/nitrogen_core", "HEAD"}},
    {nprocreg,      "0.1.*", {git, "git://github.com/nitrogen/nprocreg", "HEAD"}},
    {simple_bridge, "1.1.*", {git, "git://github.com/rklophaus/SimpleBridge", "HEAD"}}
]}.
