%% vim: ts=2 sw=2 et ft=erlang
%% Nitrogen Plugin Installer Configuration
%% 
%% This will tell the plugin-installer script where to put Nitrogen plugin
%% information it finds.
%%

%% plugins_hrl tells the Nitrogen plugin installer where to put the .hrl file
%% containing links to all your plugins' respective header files.
%% The default is "./site/include/plugins.hrl".
{plugins_hrl, "./include/plugins.hrl"}.

%% static_dir tells the Nitrogen plugin installer where to copy your plugins'
%% static resources (images, js, etc).
%% The default is "./site/static/plugins"
{static_dir, "./priv/static/plugins"}.

%% template_dir tells the Nitrogne plugin installer where to copy your plugins'
%% template files.
%% The default is "./site/templates"
{template_dir, "./priv/templates/plugins"}.

%% copy_mode determines if static resources are copied or merely symlinked.
%% Keep in mind, symlinks do not work on Windows, so "copy" is the default.
%% Valid values are the atoms 'copy' or 'link'
%% Default: copy
{copy_mode, copy}.
