/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** GRID *****/

div.header {
    margin: 0px;
    padding: 0px;
    margin-bottom: 1.0em;
}

.grid {
    font-size: 1em; /* 13px */
    line-height: 2em; /* 26px */
    margin: 1em 0em;
}

.pad_right {
    padding-right: 20px;
}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande","Segoe UI","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif; 
    font-size: 13px;
    line-height: 1.5385em;
    color: #222;
}

.headline {
    font-family: "Helvetica", "Arial", san-serif;
    color: #DB0; 
    font-weight: normal; 
    text-transform: uppercase;
    font-size: 1.8462em; /* 24px */
    line-height: 1.0833em; /* 26px */
    margin: 0.5416em 0em;
    padding: 0px;
}

h1 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #DB0; 
    font-weight: normal;
    font-size: 1.5385em; /* 20px */
    line-height: 1.3em; /* 26px */
    margin: .65em 0em;
    padding: 0px;
}

h2 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #79C; 
    font-weight: normal; 
    font-size: 1.3846em; /* 18px */
    line-height: 1.4444em; /* 26px */
    margin: 0.7222em 0em;
    padding: 0px;
}

h3 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #777; 
    font-weight: normal; 
    text-transform: uppercase;
    font-size: 1.0769em; /* 14px */
    line-height: 1.8571em; /* 26px */
    margin: 0.92855em 0em;
    padding: 0px;
}

ul, ol { 
    margin-left: 2em;
    font-size: .9em; 
    padding-left: 7px; 
    font-size: 11px;
    line-height: 1.5385em;
}

ul li { 
    list-style: disc; 
    margin-top: 8px;
    margin-bottom: 8px;
}

ul.ui-autocomplete {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

ul li.ui-menu-item {
  list-style: none; 
}

p { 
    font-size: 1em; /* 13px */
    line-height: 2em; /* 26px */
    margin: 1em 0em;
}

a, a:link, a:hover {
    color: #FC2752; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-size: 1em;
    line-height: 2em;
    font-family: "Lucida Console", "Monaco", monospace;
    color: #888;
    margin: 2em 0em;
}

code {
    font-family: "Lucida Console", "Monaco", monospace;
    color: #888;
}

hr {
    margin: 26px 0em;
}


/***** MENU *****/


.menu { 
    color: #888;
    background-color: #dfe2ea;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
}

.menu a {
    color: #888;
    padding: 3px 0px;
    margin: 0px 10px;
}

.menu a:HOVER {
    color: #FC2752;
    text-decoration: none;
}

.menu a.selected {
    color: #000;
    background-color: #dfe2ea;
    border-bottom: solid 3px #FC2752;
}


/***** CREDITS *****/

.credits { 
    margin-top: 20px;
    color: #888;
    background-color: #dfe2ea;
    line-height: 26px;
    text-align: center;
    padding: 7px; 
    font-size: 10px;
}



/*** FRONT PAGE ***/

.green_head {
    padding-left: 20px;
}

.front_right {
    padding-left: 30px;
}

.summary {
    padding-top: 10px;
    font-size: 130%;
    color: #29F;
    font-family: "Lucida Grande","Segoe UI","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif; 
}

.summary b {
    color: #000000;
}

.section_title {
    border-bottom: solid 1px #dfe2ea;
}

.section {
    line-height: 180%;
}

.section img {
    margin-right: 25px;
}


.platform {
    line-height: 2em;
    font-size: 11px;
    font-family: "Lucida Grande","Segoe UI","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif; 
}

.platform .logo {
    float: left;
    width: 100px;
    height: 140px;
    text-align: center;
    padding-right: 20px;
}

.platform .title {
    display: block;
    font-weight: bold;
}

.platform .link {
    display: block;
}

/***** GOOGLE CHARTS *****/

.google_chart {
	background-color: #ffffff;
	padding: 7px;
	border: solid 3px #dfe2ea;
}

/***** EFFECTS *****/

.effects_target { 
    background-color:#F7D243; 
    border:5px solid black;
    font-size:15px; 
    padding:10px; 
    text-align:center; 
    width:150px; 
}

.bigfont {
    font-size:20px;
}

/***** DRAG AND DROP *****/

.draggable, .droppable {
	display: block;
	cursor: default; 
	font-size: 10px; 
        line-height: 20px;
	text-align: center; 
	float: left; 
}

.draggable {
	width: 60px;
	height: 60px;
	color: #ffffff;
	background-color: #336699;
	padding: 7px;
	margin: 0px 7px 7px 0px;
	border: solid 1px black;
}

.draggable .handle {
	display: block;
	background-color: #99AACC;
	border: solid 1px black;
	margin: 0px;
}

.droppable {
	width: 100px;
	height: 80px;
	background-color: #BBCCDD;
	padding: 9px;
	margin: 0px 7px 7px 0px;
	border: solid 1px black;	
}

.droppable.active {
	border: dashed 1px black;	
}

.droppable.hover {
	border: solid 1px #FFFF00;	
}

/***** SORTING *****/

.simple .sortitem {
	padding: 7px;
	margin: 3px;
	width: 150px;
	color: #ffffff;
	border: solid 1px black;
	background-color: #336699;
}

.advanced .sortitem .handle {
	text-align: center;
	font-size: 80%;
	display: block;
	background-color: #99AACC;
	margin: 0px;
}
.advanced .sortitem {
	width: 100px;
	margin-right: 20px;
	padding: 7px;
	float: left;
	color: #ffffff;
	border: solid 1px black;
	background-color: #336699;
}

.advanced .sortitem .sortitem {
	background-color: #999;
	margin: 7px auto;
	width: 80%;
}

/***** BINDING *****/

.tiny,
input.tiny,
table.tiny td,
table.tiny th,
table.tiny td input
 {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 10px;
	font-size: 10px;
	line-height: 16px;
}

/***** CHAT *****/

.chat_history {
	width: 80%;
	height: 150px;
	overflow: auto;
	background-color: #ffffff;
	border: solid 1px black;
	padding: 12px;
	font-size: 110%;
}

.chat_history .username {
	font-weight: bold;
	color: #0000ff;
}

.chat_history .message {
	color: #888;
}

/***** WHATS NEW *****/

.whatsnew_overview {
    font-size: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    color: #79C;
    margin: 0.5em 0em;
    border-top: solid 1px #dfe2ea;
    border-bottom: solid 1px #dfe2ea;
}