{sys, [
    {lib_dirs, ["../deps"]},
    {rel, "nitrogen", "2.1.0",
        [
            kernel,
            stdlib,
            sasl,
            inets,
            crypto,
            runtime_tools,
            xmerl,
            compiler,
            ssl,
            mnesia,
            common_test,
            parsetools
    ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
    ]},
    {boot_rel, "nitrogen"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {excl_archive_filters, ["^ebin$","^include$","^priv$"]},
    {app, sasl, [{incl_cond, include}]},
    {app, eunit, [{incl_cond, include}]}
]}.

{overlay, [
    %% Copy common files...
    {copy,  "./overlay/common/*"},
    {copy,  "./overlay/erts/*", "{{erts_vsn}}/bin"},
    {copy,  "../deps/nitrogen_core", "lib/nitrogen_core"},
    {copy,  "../deps/nitrogen_core/www", "site/static/nitrogen"},
    {copy,  "../deps/simple_bridge", "lib/simple_bridge"},
    {copy,  "../deps/nprocreg", "lib/nprocreg"},
    {copy,  "../deps/sync", "lib/sync"},

    %% Copy Inets-specific files...
    {copy, "overlay/mochiweb/*"},

    %% Copy windows-specific files
    {copy,  "./overlay/win/files/*"}
]}.
