%% vim: ts=4 sw=4 et ft=erlang

{sys, [
    {rel, "nitrogen", "2.4.0",
        [
            kernel,
            stdlib,
            sasl,
            crypto,
            runtime_tools,
            xmerl,
            compiler,
            ssl,
            common_test,
            parsetools
    ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
    ]},
    {boot_rel, "nitrogen"},
    {excl_sys_filters, [
        "^bin/.*",
        "^usr.*",
        "^doc.*",
        "^README$",
        "^Install\.ini$",
        "^Install\.exe$",
        "^Uninstall\.exe$",
        "^COPYRIGHT$",
        "^PR\.template$"
    ]},
    {excl_archive_filters, [".*"]},
    {incl_cond, include}
]}.

{overlay, [
    %% Copy common files...
    {copy,  "./overlay/common/*"},
    {copy,  "./overlay/common/.gitignore"},
    {copy,  "./overlay/erts/*", "{{erts_vsn}}/bin"}
]}.
