{sys, [
    {lib_dirs, ["../apps"]},
    {rel, "nitrogen", "2.0.4",
        [
            kernel,
            stdlib,
            sasl,
            inets,
            crypto,
            runtime_tools,
            yaws,
            simple_bridge,
            nprocreg,
            nitrogen
    ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
    ]},
    {boot_rel, "nitrogen"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, yaws, [{incl_cond, include}]},
    {app, nitrogen, [{incl_cond, include}]},
    {app, simple_bridge, [{incl_cond, include}]},
    {app, nprocreg, [{incl_cond, include}]},
    {app, sasl, [{incl_cond, include}]}
]}.

{rebar, [
    {empty_dirs, [
        "log/sasl"
    ]},
    {overlay, "overlay"},
    {overlay, "overlay_yaws"}
]}.
