%% -*- mode: erlang -*-
%% vim: ts=4 sw=4 et ft=erlang
[{mochiweb, [
    {bind_address, "0.0.0.0"},
    {port, 8000},
    {server_name, nitrogen},
    {document_root, "./site/static"},
    
    %% Max Request size of 25MB. While this is a mochiweb env_var, 
    %% it's actually only used in simple_bridge
    {max_request_size, 26214400}
]}].
