body {
	font-family: sans-serif;
	font-size: 80%;
}

.content {
	margin: 20px;
	border: solid 2px #CCC;
	padding: 10px;
}

.title {
	font-size: 140%;
	color: #777;
	padding: 20px 0px 0px 0px;
}

.subtitle {
	position: relative;
	background-color: #FFF;
	font-size: 90%;
	margin: 20px 0px 10px 0px;
}

.element {
	margin: 3px 0px 0px 3px;
	
}

.element a {
	text-decoration: none;
}

.element a:HOVER {
	text-decoration: underline;
}

.see_also_label, .description_label, .attributes_label {
	position: relative;
	background-color: #FFF;
	font-size: 90%;
	margin: 30px 0px 10px 0px;
}

.content > .see_also, .content > .description {
	border: solid 1px #CCC;
	background: #EEE;
	padding: 7px;
	line-height: 1.5em;
}

.attribute {
	margin-bottom: 20px;
}

.attribute > .name {
	font-weight: bold;
}

.attribute > .type {
	font-size: 90%;
	color: #555;
	padding: 5px 5px 0px 20px;
}

.attribute > .description {
	padding: 5px 5px 0px 20px;
}