#table-of-contents { display: none; }
.title { display: none; }
.outline-2 { 
    background-color: #efefef;
    border: solid 5px #083643;
    margin: 200px 0px 200px 20px;
    padding: 30px 40px; 
    width: 960px;
    min-height: 540px;
    page-break-after: always;
}

h1,
h2,
.section-number-2,
.section-number-4,
.section-number-3 { 
    display: none; 
}

body {
    background-color: #000;
    font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 120%;
    line-height: 160%;
    margin: 0px;
    font-weight:100px;
    color: #274C3E;
}

h3 {
    position: relative;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    margin-bottom: .2em;
}

h4 { 
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-bottom: .2em;
}

li { padding: 3px 0px 3px 0px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

pre {
    font-family: Inconsolata, "Courier New", Mono;
    font-size: 100%;
    padding: 10px 30px;
    color: #236;
    background-color: #fff;
}

code {
    font-weight: bold;
}