a { color: #E35; text-decoration: none; }
a:hover { color: #E35; text-decoration: underline; }

hr { margin-top: 30px; margin-bottom: 30px; color: #ddd; }

ul { 
    padding-left: 7px; 
}

ul li { 
    list-style: disc inside; 
}

p { 
    font-size: 1em; /* 13px */
    line-height: 2em; /* 26px */
    margin: 1em 0em;
}

 
ul { margin-left: 14px; }
li { padding: 3px 0px 3px 0px; }
dt { padding-top: 10px; }
dl { padding-bottom: 10px; }


body { 
    font-family: "Lucida Grande","Segoe UI","Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif; 
    font-size: 13px;
    line-height: 1.5385em;
    color: #222;
    margin: 20px 50px;
}


.title, #table-of-contents, #postamble { display: none; }

.headline {
    font-family: "Helvetica", "Arial", san-serif;
    color: #DB0; 
    font-weight: normal; 
    text-transform: uppercase;
    font-size: 1.8462em; /* 24px */
    line-height: 1.0833em; /* 26px */
    margin: 1em 0em .5em 0em;
    padding: 0px;
}

h2 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #DB0; 
    font-weight: normal;
    font-size: 1.3385em; /* 20px */
    line-height: 1.3em; /* 26px */
    margin: .65em 0em;
    padding: 0px;
    border-bottom: solid 2px #ddd;
}

h3 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #79C; 
    font-weight: normal; 
    font-size: 1.1846em; /* 18px */
    line-height: 1.4444em; /* 26px */
    margin: 0.7222em 0em;
    padding: 0px;
}

h4 { 
    font-family: "Helvetica", "Arial", san-serif;
    color: #777; 
    font-weight: normal; 
    text-transform: uppercase;
    font-size: 1.0769em; /* 14px */
    line-height: 1.8571em; /* 26px */
    margin: 0.92855em 0em;
    padding: 0px;
}


.section-number-1, .section-number-2, .section-number-3, .section-number-4 {
    display: none;
/*     color: #444; */
/*     margin-right: 7px; */
}

.outline-text-1, .outline-text-2, .outline-text-3, .outline-text-4 {
}

.src {
    padding: 12px 10px;
}