html { background: #fff; }
body { 
	font-size: 16pt;
	line-height: 24pt; 
	font-family: "Lucida Grande", "Segoe UI", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	margin: 20px 20% 20px 20%;
}

a { color: #E35; text-decoration: none; }
a:hover { color: #E35; text-decoration: underline; }
p { margin: 8pt 0px; }

ul {
	margin: 12px;
}

li {
	list-style-position:inside;
	list-style-type:disc;
}

.nbe { 
	display: block;
	font-family: Georgia, Serif;
	text-transform: uppercase;
	padding: 2px 20px;
	font-size: 12pt; 
	color: #333;
	text-align: right;
}

.title {
	display: block;
	font-family: Georgia, Serif;
	padding: 2px 20px;
	font-size: 11pt; 
	background-color: #DDD; 
	color: #333;
}

.body {
	padding: 40px 20px;
}

input { margin-right: 12px; }

.footer {
	width: 100%;
	font-size: 10pt;
	border-top: solid 5px #8B8; 
	padding: 20px 0px;
}

.footer td { width: 33%; }

.boxes_outer {
	text-align: center;
	width: 100%;
	background-color: #bbb;
}

.boxes { 
	background-color: #bbb;
	margin: 0px auto; 
}

.boxes td.next,
.boxes td.back {
	padding: 7px;
	font-size: 10pt;
	line-height: 12pt;
}

.boxes td.box a {
	display: block;
	font-size: 1px;
	line-height: 1px;
	width: 7px;
	height: 7px;
	padding: 1px;
	margin: 3px;
	background-color: #fff;
}

.boxes td.box a.selected {
	background-color: #000;
}

.boxes td.box a:HOVER {
	background-color: #000;
}


.footer td.next { text-align: left; }
.footer td.viewsource { text-align: center; }
.footer td.back { text-align: right; }

.erlang {
	width: 100%;
	font-size: 120%;
}

.notes {
	margin-top: 10px;
	padding-bottom: 30px;
	font-size: 11pt;
	line-height: 18pt;
	color: #333;
}