@import url(/nitrogen/reset.css);
@import	url(/nitrogen/basic.css);
@import	url(/nitrogen/elements.css);
@import url(page.css);

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.wrapper-inner a {
	color:#2DA226 !important;
}

.wrapper-inner a:HOVER {
	background-color: #FAFA56 !important;
	text-decoration: none !important;
}

body {
	margin: 0px;
	padding: 0px;
	background: #3D5D68 url(/images/img01a.jpg) repeat-x;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h1, h2, h3 {
	font: 1.82em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #514F42;
}

a {
	color: #669900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	height: 3px;
	border: 0px;
	background-color: #AFAC99;
	margin: 10px 0px 10px 0px;
}

/* Header */

.header {
	position: relative;
	width: 800px;
	height: 115px;
	margin: 0px auto;
}

/* Logo */

.logo {
	float: left;
	padding: 0;
	color: #FFFFFF;
}

.logo img {
	position: absolute;
	padding: 32px 0px 0px 0px;
}


/* Menu */

.menu {
	position: absolute;
	right: 0px;
	bottom: 0;
	padding-bottom: 39px;
}

.menu ul {
	display: block;
	list-style: none;
}

.menu li {
	float: left;
}

.menu a {
	background-color: #ffffff;
	padding: 7px 20px 7px 20px;
	margin-right: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 11px;
	color: #182C33;
}

.menu a.active {
	text-decoration: underline;
}

.menu a:HOVER {
	text-decoration: underline;
}

/* Page */

.wrapper {
	background: #EBEAD1 url(/images/img02.jpg) repeat-x left bottom;
}

.wrapper-inner {
	width: 800px;
	margin: 0px auto;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Content */

.content {
	float: left;
	width: 550px;
	margin-bottom: 50px;
	line-height: 1.67em;
}

/* Post */

.post {
	margin-top: 20px;
}

.post .date {
	float: left;
	width: 76px;
	height: 58px;
	margin: 0;
	margin-right: 20px;
	padding-top: 2px;
	background: #514F42;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.post .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 40px;
}

.post .title {
	margin: 0;
	padding: 0px 0 0 0;
	margin-left: 10px;
	padding-left: 50px;
	font-size: 1.8em;
}

.post .title h2 {
	padding: 0;
	margin: 0;
}

.post .hr1 {
}

.post .meta {
	margin: 0 0 30px 20px;
	padding: 0;
	color: #979680;
	line-height:normal;
}

.post .meta a {
	color: #828170;
}

.post .entry {
	margin: 0;
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #666633;
}

/* Sidebar */

.sidebar {
	border-left: solid 1px #AFAE99;
	padding: 20px 0px 20px 20px;
	float: right;
	width: 220px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar h3 {
	font-size: 12px;
	padding: 2px 0px;
	border-top: 1px dashed #666633;
	border-bottom: 1px dashed #666633;
}

/* Footer */

.wrapper2 {
	background: #422C21;
}

.footer {
	position: relative;
	width: 800px;
	margin: 0px auto;
	padding: 40px 0px;
	color: #FFFFFF;
}

.footer .col {
	display: block;
	float: left;
	width: 250px;
	margin-right: 15px;
}

.footer a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#FD4;
}

.footer li {
	list-style-type: square;
	margin-bottom: 8px;
}

.footer a:HOVER {
	text-decoration: underline;
}

/* Legal */

.legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #525252;
	background: black;
}

.legal a {
	border-bottom: 1px dotted #939393;
	text-decoration: none;
	color: #939393;
}
