html { background: #fff; }
body { 
	background: #fff url(../images/body_bg.png) no-repeat fixed 20px 25px;
	color: #444; 
	font-size: 0.8em;
	font-family: "Lucida Grande", "Segoe UI", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	line-height: 1.6em; 
	margin: 0px;
}

a { color: #E35; text-decoration: none; }
a:hover { color: #E35; text-decoration: underline; }

/*** CONTENT/LEFT/MIDDLE/RIGHT ***/

.leftcolumn, .rightcolumn { width: 18%; }
.middlecolumn { width: 50%; }
.leftcolumn, .middlecolumn, .rightcolumn { float: left; padding: 0% 2%; } 
.leftcolumn { text-align: right; }
.rightcolumn { text-align: left; border-left: solid 1px #DDD; }

/*** TOP MENU1 ***/

.topmenu1 { 
	padding-top: 60px; 
	background: #222 url(../images/logo_small.png) no-repeat 20px 25px;
	width: 100%;
	overflow: hidden;
}

.topmenu1 ul { float: left; width: 2000px; margin-left: 25%; }
.topmenu1 ul li { display: block; float: left; text-decoration: none; }
.topmenu1 ul li a {
	font-size: 0.9em;
	display: block;
	color: #444;
	padding: 1px 12px 3px 12px;  
	margin: 0px 3px;
	text-decoration: none; 
	text-transform: uppercase;
}
.topmenu1 ul:hover li a { color: #fff; }
.topmenu1 ul li a:hover { background-color: #333; }
.topmenu1 ul li a.selected {
	color: #E35;
	background-color: #DDD;
	font-weight: bold;
}

/*** TOP MENU2 ***/

.topmenu2 { 
	background: #DDD;
	padding-top: 15px;
	width: 100%; 
	overflow: hidden;
	margin-bottom: 30px;
}

.topmenu2 ul { float: left; width: 2000px; margin-left: 25%; }
.topmenu2 ul li { display: block; float: left; text-decoration: none; }
.topmenu2 ul li a {
	font-size: 0.85em;
	display: block;
	color: #AAA;
	padding: 1px 12px 3px 12px;  
	margin: 0px 3px;
	text-decoration: none; 
	text-transform: uppercase;
}

.topmenu2 ul:hover li a { color: #777; }
.topmenu2 ul li a.selected {
	color: #E35;
	background-color: #FFF;
	font-weight: bold;
}
.topmenu2 ul li a:hover { color: #E35; }

/*** LEFT MENU ***/

.leftmenu h1 { font-size: 1.8em; color: #F70; clear: both; letter-spacing: -2px; }
.leftmenu h2 { font-size: 1.4em; color: #9C9; clear: both; letter-spacing: -2px; }
.leftmenu h3 { font-size: 1.0em; color: #FFF; letter-spacing: -1px; }
.leftmenu h4 { font-size: 0.8em; color: #FFF; text-transform: uppercase;  }
.leftmenu h1, .leftmenu h2, .leftmenu h3, .leftmenu h4 { font-weight: normal; margin-top: 1em; margin-bottom: 0.4em;  }

.leftmenu ul li { display: block; }
.leftmenu ul li a { font-size: 0.9em; display: block; color: #CCC; text-decoration: none; padding: 6px 0px; }
.leftmenu ul:hover li a { color: #999; }
.leftmenu ul li a.selected { color: #E35; text-decoration: none; font-weight: bold; }
.leftmenu ul li a:hover { color: #E35; }


/*** CONTENT ***/

.content .headline { font-size: 2.2em; color: #DB0; clear: both; letter-spacing: -1px; font-weight: normal; margin-bottom: 0.7em; }
.content h1 { font-size: 2.2em; color: #BBB; clear: both; letter-spacing: -1px; }
.content h2 { font-size: 1.5em; color: #DB0; clear: both; letter-spacing: -1px; }
.content h3 { font-size: 1.2em; color: #79C; letter-spacing: -1px; }
.content h4 { font-size: 0.9em; color: #777; text-transform: uppercase;  }
.content h1, .content h2, .content h3, .content h4 { font-weight: normal; margin-top: 1em; margin-bottom: 0.5em;  }
.content h1:first-child, h2:first-child, h3:first-child, h4:first-child { margin-top: 0em; }
.content ul { padding-left: 7px; }
.content ul li { list-style: disc inside; }
.content p { margin-top: 10px; }

.content hr { margin-top: 30px; margin-bottom: 30px; color: #ddd; }

.content .column1 { width: 47%; margin-right: 3%; float: left; }
.content .column2 { width: 47%; float: left; }

/*** FOOTER ***/

.footer { 
	color: #272; 
	background: #9C9 url(../images/footer_bg.png);
	background-color: #9C9; 
	border-top: solid 5px #8B8; 
	border-bottom: solid 5px #8B8; 
	padding: 20px 0px;
	margin: 40px 0px;
}

.footer > * { margin-left: 20%; margin-right: 20%; }
.footer > ul > li { width: 22%; float: left; text-transform: uppercase; padding-right: 2%; }
.footer > ul > li > ul > li { text-transform: none; margin: 3px 0px;  }
.footer a { color: #494; }
/*** LEGAL ***/

.legal { color: #fff; background-color: #000; padding: 10px 0px; font-size: 0.85em; }
.legal > * { margin-left: 25%; margin-right: 25%; }
.legal a { color: #EE0; text-decoration: none; }
.legal a:hover { color: #EE0; text-decoration: underline; }

.clear { clear: both; }